.cooperation {
  @include adaptiv-value("padding-top", 100, 50, 1);
  @include adaptiv-value("padding-bottom", 70, 20, 1);
  padding-left: 130px;
  padding-right: 130px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  @media (max-width: $md1+px) {
    padding-left: 40px;
    padding-right: 40px;
  }
  @media (max-width: $md3+px) {
    padding-left: 20px;
    padding-right: 20px;
  }
  &__inner {
    width: 100%;
  }

  &__title {
    @include adaptiv-value("margin-bottom", 50, 30, 1);
    text-align: center;
  }

  &__button {
    text-align: center;
  }
}

.steps {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: -15px;
  margin-right: -15px;
  @include adaptiv-value("margin-bottom", 50, 30, 1);
  @media (max-width: 900px) {
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
  }
}
.step {
  padding: 0 15px;
  flex: 1 1 370px;
  text-align: center;
  &:not(:last-child) {
    position: relative;
    &::after {
      content: "";
      display: inline-block;
      width: 230px;
      height: 24px;
      background: url("../img/icons/arrow.svg") center no-repeat;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(50%, 50%);
      z-index: 1;
      @media (max-width: 900px) {
        display: none;
        opacity: 0;
        visibility: hidden;
        width: 0;
      }
    }
  }
  @media (max-width: 900px) {
    flex: 1 1 100%;
    width: 100%;
    padding: 0;
    margin-bottom: 30px;
    br {
      display: none;
    }
  }
  @media (max-width: $md4+px) {
    br {
      display: block;
    }
  }
  &__order {
    font-size: 40px;
    line-height: 110%;
    color: #00a6ed;
    font-weight: 600;
    margin-bottom: 35px;
    @media (max-width: $md4+px) {
      margin-bottom: 5px;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 10px;
    @media (max-width: $md4+px) {
      margin-bottom: 5px;
    }
  }

  &__desc {
    font-size: 18px;
    line-height: 140%;
    color: $monochromeGrey;
  }
}
