.counts {
  background-color: $backgroundDark;
  &__container {
    @include adaptiv-value("padding-top", 60, 50, 1);
    @include adaptiv-value("padding-bottom", 60, 50, 1);
    padding-left: 60px;
    padding-right: 60px;
    width: 100%;
    @media (max-width: $md1+px) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media (max-width: $md3+px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }
  &__tabs-block {
    display: flex;
    align-items: flex-start;
    @media (max-width: $md2+px) {
      flex-direction: column;
    }
  }
  &__title {
    @include adaptiv-value("margin-bottom", 40, 20, 1);
  }
}
.tabs-block {
  &__column {
    width: 100%;
    &:first-child {
      flex: 0 0 326px;
      @include adaptiv-value("margin-right", 60, 0, 1);
      @media (max-width: $md2+px) {
        margin-right: 0;
        margin-bottom: 20px;
        flex: 1 1 100%;
      }
    }
    &:last-child {
      flex: 1 1 auto;
    }
  }
  &__nav {
    @media (max-width: $md2+px) {
      display: none;
    }
  }
  &__select {
    width: 100%;
    display: none;
    @media (max-width: $md2+px) {
      display: block;
    }
  }
  &__item {
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 10px;
    padding-right: 8px;
    padding-left: 0;
    cursor: pointer;
    color: #dcdcdc;
    transition: all 0.3s ease 0s;
    position: relative;
    &._active {
      color: #ffffff;
      padding-left: 8px;
      padding-right: 0;
      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background-color: $accentMain;
      }
    }
  }
  &__body {
    padding: 30px;
    background-color: #ffffff;
    color: #5b5b5b;
    border-radius: 5px;
    @media (max-width: $md2+px) {
      padding: 20px;
    }
  }
  &__block {
  }
}

.block-tab {
  p {
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 20px;
    line-height: 26px;
    font-weight: 700;
    margin-bottom: 20px;
    color: #1a1a1a;
  }
  &__subtitle {
    font-size: 16px;
    line-height: 22.4px;
    margin-bottom: 30px;
    font-weight: 700;
    color: #1a1a1a;

    @media (max-width: $md3+px) {
      margin-bottom: 5px;
    }
    &_small-gutter {
      margin-bottom: 5px;
    }
  }
  &__list {
    margin-bottom: 20px;
  }
  &__button {
    margin-bottom: 20px;
  }
}
