.intro {
  &__container {
    @include adaptiv-value("padding-top", 100, 50, 1);
    @include adaptiv-value("padding-bottom", 70, 20, 1);
    padding-left: 130px;
    padding-right: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (max-width: $md1+px) {
      padding-left: 40px;
      padding-right: 40px;
    }
    @media (max-width: $md3+px) {
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  &__title {
    max-width: 770px;
    margin-bottom: 30px;
    text-align: center;
  }

  &__text {
    font-size: 20px;
    line-height: 130%;
    color: $monochromeGrey;
    margin-bottom: 30px;
    text-align: center;
  }

  &__button {
    @include adaptiv-value("margin-bottom", 173, 70, 1);
  }

  &__profits {
    display: flex;
    align-items: flex-start;
    margin: 0 -15px;
    @media (max-width: 1050px) {
      flex-direction: column;
    }
  }

  &__profit {
    flex: 0 1 33.333%;
    padding: 0 15px;
    @media (max-width: 1050px) {
      flex: 1 1 100%;
    }
  }
}

.profit {
  max-width: 370px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 28px;
  margin-bottom: 30px;
  @media (max-width: 1050px) {
    max-width: none;
  }
  &__title {
    white-space: nowrap;
    text-align: center;
    font-size: 30px;
    line-height: 120%;
    font-weight: 600;
    display: flex;
    align-items: center;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 15px;
    &::before {
      content: "";
      display: inline-block;
      width: 36px;
      height: 36px;
      margin-right: 10px;
      background: url("../img/icons/check.svg") center no-repeat;
      background-size: contain;
      @media (max-width: $md3+px) {
        width: 25px;
        height: 25px;
      }
    }
    &::after {
      content: "";
      display: inline-block;
      width: 314px;
      height: 2px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 0);
      background-color: #0082ba;
      @media (max-width: $md3+px) {
        width: 280px;
      }
    }
    @media (max-width: $md3+px) {
      font-size: 20px;
      line-height: 130%;
      padding-bottom: 10px;
      margin-bottom: 10px;
    }
  }

  &__description {
    color: $monochromeGrey;
    text-align: center;
    font-size: 18px;
    line-height: 140%;
  }
}
